<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property resource="local.properties" />

	<appender name="ROLLING"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOGDIR}/sqewdtv.widgets.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${LOGDIR}/sqewdtv.widgets-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
			</pattern>
		</layout>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d{HH:mm:ss.SSS} %-5level [%thread] %logger{36} - %msg%n
			</pattern>
		</layout>
	</appender>

	<root level="DEBUG">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="STDOUT" />
	</root>

</configuration>